.app-custom-before-bg {
  position: relative;
  /* z-index: 1; */
}

.app-custom-before-bg::before {
  /* z-index: -1; */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: var(--main-bg);
  height: 70%;
  width: 100%;
}

.app-custom-indicator {
  width: 7px !important;
  height: 7px !important;
  border-radius: 100%;
}

.carousel .carousel-indicators {
  position: absolute;
  bottom: -45px;
}

.carousel .carousel-indicators button {
  background-color: var(--main-orange-darker);
}

.app-custom-text-orange-dark {
  color: var(--main-orange-darker);
}

.app-custom-gray {
  background: var(--main-gray-bg) !important;
}

.app-custom-card-orange-bg {
  background: var(--main-bg) !important;
  color: #fff;
}

.app-custom-card-text {
  font-size: 0.7rem;
}

.app-custom-card {
  min-width: 0px;
  max-width: 75px !important;
  max-height: 75px !important;
  cursor: pointer;
}

/* .app-custom-card:hover {
  background: var(--main-bg);
  color: #fff;
} */

.app-custom-card img {
  max-width: 100% !important;
  padding: 0.3rem;
}

.app-custom-dish-card-width {
  max-width: 120px;
}

.app-custom-dish-card-text {
  font-size: 0.7rem;
}

.app-custom-dish-card-text .app-custom-dish-footer {
  font-size: 0.8rem;
  padding: 0.3rem !important;
}

.app-custom-dish-footer button {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 70%;
}

.app-custom-floating-menu-container {
  height: 18%;
}

.app-custom-font-size {
  font-size: 0.9rem;
}

.item {
  display: flex;
  padding-top: 6px;
  border-bottom: 2px solid var(--main-gray-bg);
}

.item-product {
  display: flex;
  column-gap: 3px;
}

.item-description {
  font-size: 0.8rem;
  color: var(--main-subtext);
  line-height: normal;
}

.item-image {
  border-radius: 10px;
  width: 80px;
  height: 70px;
  background-color: var(--main-gray-bg);
}

.item-quantity,
.item-price,
.item-action {
  border-left: 2px solid var(--main-gray-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 14px;
  width: 140px;
}

.item-less,
.item-add {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2em; */
}
.item-less {
  background-color: var(--main-subtext);
  color: white;
  font-weight: bold;
}
.item-add {
  background: orange;
  color: white;
  font-weight: bold;
}
