@import url("./index.css");

.app-custom-before-bg {
  position: relative;
  /* z-index: 1; */
}

.app-custom-before-bg::before {
  /* z-index: -1; */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: var(--main-bg);
  height: 70%;
  width: 100%;
}

.app-custom-indicator {
  width: 7px !important;
  height: 7px !important;
  border-radius: 100%;
}

.carousel .carousel-indicators {
  position: absolute;
  bottom: -45px;
}

.carousel .carousel-indicators button {
  background-color: var(--main-orange-darker);
}

.app-custom-text-orange-dark {
  color: var(--main-orange-darker);
}

.app-custom-gray {
  background: var(--main-gray-bg) !important;
}

.app-custom-card-orange-bg {
  background: var(--main-bg) !important;
  color: #fff;
}

.app-custom-card-text {
  font-size: 0.7rem;
}

.app-custom-card {
  min-width: 0px;
  max-width: 75px !important;
  max-height: 75px !important;
  cursor: pointer;
}

/* .app-custom-card:hover {
  background: var(--main-bg);
  color: #fff;
} */

.app-custom-card img {
  max-width: 100% !important;
  padding: 0.3rem;
}

.app-custom-dish-card-width {
  max-width: 120px;
}

.app-custom-dish-card-text {
  font-size: 0.7rem;
}

.app-custom-dish-card-text .app-custom-dish-footer {
  font-size: 0.8rem;
  padding: 0.3rem !important;
}

.app-custom-dish-footer button {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 70%;
}

.app-custom-floating-menu-container {
  height: 18%;
}
