@import url("./index.css");

.app-card-custom-bg {
  background: var(--main-gray-bg) !important;
  user-select: none;
}

/* .app-card-custom-bg:active {
  outline: 3px solid var(--main-orange-darker);
} */

button {
  border-color: rgba(0, 0, 0, 0);
}

.app-custom-card-subtitle {
  color: var(--main-orange-text);
}

.contenedor-lenguajeLog{
  display: flex;
}

.boton-Log{
  margin-left: 75px;
}
.imagen-centro{
  margin-left: 155px;
}