
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    
  </head>
  <body>
    <title>Inicio</title>
    
  <body>
    <div class="container vh-100">
      <div class="row h-100 d-flex justify-content-center">
        <div
          class="col col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4 g-0 app-bg-img d-flex flex-column justify-content-between shadow"
        >
       <!--- <a class="btn btn-primary text-black-50 border-dark" role="button" routerLink="admin/user/login" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);border:none;">Ingresar</a>-->
          <!-- header section -->
          <header class="text-center py-4">
            <img
              src="assets/public/logo/app-logo.png"
              alt="app-logo-img"
              width="160"
            />
          </header>

          <!-- middle section divided by 50% each -->
          <div class="flex-grow-1">
            <div
              class="h-50 px-4 d-flex flex-column justify-content-start align-items-end"
            >
              <div class="text-center">
                <img
                  src="assets/public/logo/finger-logo.png"
                  alt="finger-logo-img"
                  width="130"
                />
                <h4 class="app-custom-font-title app-custom-font-gothic">
                  <p>ORDENE</p>
                  <p class="app-custom-font-subttitle">Y PAGUE AQUÍ</p>
                </h4>
              </div>
            </div>
            <div
              class="h-50 d-flex flex-column justify-content-end text-center app-custom-overlay"
            >
              <h6 class="app-custom-font-bolder lh-1">
                PAGUE CON SUS TARJETAS CRÉDITO, DÉBITO
              </h6>
              <div class="pt-3 pb-4 d-flex justify-content-center">
                <img
                  src="assets/public/payment-method-img/Mastercard-logo.png"
                  alt="mastercard-img"
                  height="25"
                />
                <img
                  class="ps-4"
                  src="assets/public/payment-method-img/g4158.png"
                  alt="visa-img"
                  height="20"
                />
                <img
                  class="ps-4"
                  src="assets/public/payment-method-img/Group 3.png"
                  alt="dinners-img"
                  height="25"
                />
              </div>
            </div>
          </div>

          <!-- order button here -->
          <a routerLink="../selectLanguage">
            <button
              type="button"
              class="btn btn-lg app-btn-custom btn-dark w-100 rounded-0 py-3 border-0"
            >
              <h4 class="app-custom-font-bolder">EMPEZAR ORDEN</h4>
            </button>
          </a>
        </div>
      </div>
    </div>

